<div>
  <div layout="column">
    <div layout-padding layout-margin>
      <md-card>
        <section class="box" id="adminUsers" >
          <h1>GROUPS</h1>

          <md-tab-group>
            <md-tab label="Groups">
              <system-lookup [Collections]="groupCollections" [lookupName]="groupLookupName" (onSelected)="returnResult($event)"></system-lookup>
            </md-tab>
            <md-tab label="Create Group">

              <form (ngSubmit)="addGroup()" #groupForm="ngForm">
                <md-input-container class="inputContainer">
                  <input mdInput id="nameInput" name="name"  type="text" placeholder="Name" [(ngModel)]="nameInput" required #spy #name="ngModel">
                </md-input-container>
                <div [hidden]="name.valid || name.pristine" [ngStyle]="{'color': 'red'}">
                  Name is required
                </div>
                <!-- TODO: remove this: {{spy.className}} -->
                <br>
                <a md-raised-button [disabled]="!groupForm.form.valid" color="warn" (click)="addGroup()" type="submit">Add Group</a>
              </form>

            </md-tab>
          </md-tab-group>
        </section>
      </md-card>
    </div>
  </div>
</div>
