<form (submit)="search(keywords)">
  <md-input-container>
    <input md-input placeholder="Type to Search" name="searchBox" [(ngModel)]="keywords" value="contractor">
  </md-input-container>
  <button md-raised-button type="submit">Search</button>
</form>

<!--<ngx-datatable class="material"-->
               <!--[rows]="rows"-->
               <!--[columns]="columns"-->
               <!--[columnMode]="force"-->
               <!--[headerHeight]="'40'"-->
               <!--[footerHeight]="50"-->
               <!--[rowHeight]="'auto'"-->
               <!--[messages]="{-->
                  <!--emptyMessage: 'No data available in table',-->
                  <!--totalMessage: 'total'-->
                <!--}"-->


               <!--[count]="1"-->
               <!--[limit]="10"-->

               <!--[selectionType]="'single'"-->
               <!--(select)="onSelect($event)"-->
               <!--(sort)="onSort($event)"-->
               <!--style="font-size: 16px;">-->
<!--</ngx-datatable>-->



<!--<ngx-datatable-->
    <!--class="material"-->

    <!--[rows]="rows1"-->
    <!--[columns]="columns1"-->
    <!--[headerHeight]="'40'"-->
    <!--[rowHeight]="auto"-->
    <!--[footerHeight]="50"-->
    <!--[columnMode]="force"-->

    <!--[externalPaging]="false"-->
    <!--[count]="1400"-->
    <!--[offset]="offset"-->
    <!--[limit]="10"-->

    <!--[selectionType]="'single'"-->
    <!--(select)="onSelect($event)"-->
    <!--(sort)="onSort($event)"-->

    <!--style="font-size: 16px;"-->
<!-->
<!--</ngx-datatable>-->
<ngx-datatable
    class="material"

    [rows]="rows"
    [columns]="columns"
    [headerHeight]="'40'"
    [rowHeight]="auto"
    [footerHeight]="50"
    [columnMode]="flex"
    [messages]="messages"

    [externalPaging]="true"
    [externalSorting]="true"
    [count]="count"
    [offset]="offset"
    [limit]="limit"

    [selectionType]="'single'"
    (select)="onSelect($event)"
    (sort)="onSort($event)"
    (page)="onPage($event)"


    style="font-size: 16px;"
>
</ngx-datatable>
