<md-input-container>
  <input md-input placeholder="Type to Search" [(ngModel)]="searchKeywords" value="">
</md-input-container>
<button md-button (click)="search(searchKeywords)">Flat button</button>

<ngx-datatable class="material"
               [rows]="rows"
               [columns]="columns"
               [columnMode]="flex"
               [headerHeight]="'40'"
               [rowHeight]="'auto'"
               [selectionType]="'single'"
               (select)="onSelect($event)"
               (sort)="onSort($event)"
style="font-size: 16px;">
</ngx-datatable>