    <!--<md-card>-->
      <!--<section class="box" id="customerQuote" >-->
        <!--<h2>Customer Quote</h2>-->
        <!--<section id="customerQuoteForm" class="container">-->
          <!--<div layout-gt-xs="row" flex layout-xs="column" >-->

            <!--<div flex-gt-xs flex-xs layout="column" layout-margin>-->
              <!--<dialog-system-lookup [lookupName]="'customers'"></dialog-system-lookup>-->
            <!--</div>-->
            <!--<div flex-gt-xs flex-xs layout="column" layout-margin>-->
              <!--<dialog-system-lookup [lookupName]="'categories'"></dialog-system-lookup>-->
            <!--</div>-->
          <!--</div>-->
          <!--<br>-->
          <!--<div>-->
            <!--<fieldset layout="column" layout-margin>-->
              <!--<md-input-container><h3>Notes</h3>-->
                  <!--<textarea mdInput class="paragraph-text"></textarea>-->
              <!--</md-input-container>-->
            <!--</fieldset>-->
          <!--</div>-->

          <!--<div style="direction: rtl">-->
            <!--<a md-raised-button color="warn">Cancel</a>-->
            <!--<a md-raised-button color="primary" id="resetFormCancelButton">Submit Quote</a>-->
          <!--</div>-->
        <!--</section>-->
        <!--<br>-->
      <!--</section>-->
    <!--</md-card>-->
asdfasdf