<md-card class="box">
  <h2>
    {{warehouse.warehouse}}
    <a (click)="removeWarehouse()" style="cursor: pointer">
      <i class="material-icons">delete</i>
    </a>
  </h2>

    <md-input-container>
      <input mdInput name="warehouse" value="{{warehouse.warehouse}}" type="text" placeholder="Warehouse" [(ngModel)]="warehouse.warehouse" (blur)="onBlurMethod($event.target.name, $event.target.value)">
    </md-input-container>
    <md-input-container>
      <input mdInput name="description" value="{{warehouse.description}}" type="text" placeholder="Description" [(ngModel)]="warehouse.description" (blur)="onBlurMethod('description', $event.target.value)">
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput name="address1" value="{{warehouse.address1}}" type="text" placeholder="Address 1" [(ngModel)]="warehouse.address1" (blur)="onBlurMethod($event.target.name, $event.target.value)">
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput name="address2" value="{{warehouse.address2}}" type="text" placeholder="Address 2" [(ngModel)]="warehouse.address2" (blur)="onBlurMethod($event.target.name, $event.target.value)">
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput name="city" value="{{warehouse.city}}" type="text" placeholder="City" [(ngModel)]="warehouse.city" (blur)="onBlurMethod($event.target.name, $event.target.value)">
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput name="state" value="{{warehouse.state}}" type="text" placeholder="State" [(ngModel)]="warehouse.state" (blur)="onBlurMethod($event.target.name, $event.target.value)">
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput name="zipCode" value="{{warehouse.zipCode}}" type="text" placeholder="Zip Code" [(ngModel)]="warehouse.zipCode" (blur)="onBlurMethod($event.target.name, $event.target.value)">
    </md-input-container>
    <br>
</md-card>
