      <md-card class="box">
        <div class="adminHeader">
          <h2>System Lookups</h2>
          <button md-raised-button color="primary" (click)="openDialog()">Filter</button>
          <button md-raised-button color="primary" (click)="addButton()">Add</button>
        </div>
        <div [hidden]="hideTable">
          <system-query [lookupName]="'systemLookups'" (onSelected)="returnResult($event)" [(data)]="data"></system-query>
        </div>
        <div [hidden]="hideAddForm">
          <form (ngSubmit)="addLookup(); lookupForm.reset()" #lookupForm="ngForm">
          <md-input-container>
            <input mdInput id="nameInput" [(ngModel)]="nameInput" name="name" type="text" placeholder="Name" required #spy #nameLookup="ngModel">
          </md-input-container>
          <small [hidden]="nameLookup.valid || nameLookup.pristine" [ngStyle]="{'color': 'red'}">
            Name is required
          </small>
          <br>
          <md-input-container>
            <input mdInput id="labelInput" [(ngModel)]="labelInput" name="label" type="text" placeholder="Label" required #spy #labelLookup="ngModel">
          </md-input-container>
          <small [hidden]="labelLookup.valid || labelLookup.pristine" [ngStyle]="{'color': 'red'}">
            Label is required
          </small>
          <br>
          <md-checkbox class="searchableCheck" [(ngModel)]="searchable" [ngModelOptions]="{standalone: true}">Searchable</md-checkbox>
          <md-input-container>
            <textarea mdInput resizeToFitContent id="subscriptionsInput" [(ngModel)]="subscriptionsInput" (keyup)="validJsonSubs()" name="subscriptions" type="text" placeholder="Subscriptions" required #spy #subscriptionsLookup="ngModel">
          </md-input-container>
          <small [hidden]="subscriptionsLookup.valid || subscriptionsLookup.pristine" [ngStyle]="{'color': 'red'}">
            Subscriptions is required
          </small>
          <small *ngIf="!validJsonErrorSubs" [ngStyle]="{'color': 'red'}">
              Not valid JSON
          </small>
          <md-input-container>
            <textarea mdInput resizeToFitContent id="methodsInput" [(ngModel)]="methodsInput" name="methods" (keyup)="validJsonMethods()" type="text" placeholder="Methods" required #spy #methodsLookup="ngModel">
          </md-input-container>
          <small [hidden]="methodsLookup.valid || methodsLookup.pristine" [ngStyle]="{'color': 'red'}">
            Methods is required
          </small>
          <small *ngIf="!validJsonErrorMethods" [ngStyle]="{'color': 'red'}">
              Not valid JSON
          </small>
          <md-input-container>
            <textarea mdInput resizeToFitContent id="dataTableInput" [(ngModel)]="dataTableInput" name="dataTable" (keyup)="validJsonDataTable()" type="text" placeholder="Data Table" required #spy #dataTableLookup="ngModel">
          </md-input-container>
          <small [hidden]="dataTableLookup.valid || dataTableLookup.pristine" [ngStyle]="{'color': 'red'}">
            Data Table is required
          </small>
          <small *ngIf="!validJsonErrorDataTable" [ngStyle]="{'color': 'red'}">
              Not valid JSON
          </small>
          <button md-raised-button [disabled]="!lookupForm.form.valid || !validJsonErrorSubs || !validJsonErrorMethods || !validJsonErrorDataTable"
          color="warn" type="submit">Add Lookup</button>
        </form>
        </div>
      </md-card>
