<md-card>
  <h2>System Alerts <i class="material-icons" style="cursor:pointer;"(click)="openDialog()">list</i></h2>

  <md-tab-group>
    <md-tab label="System Alerts">
      <system-query [lookupName]="'systemAlerts'" (onSelected)="onSelect($event)" [(data)]="data"></system-query>
    </md-tab>
    <md-tab label="Create Alert">
      <form [formGroup]="newAlert" (submit)="addAlert(newAlert)">
        <md-input-container>
          <input mdInput formControlName="name" type="text" placeholder="Name" required>
        </md-input-container>
        <small style="color: red" [hidden]="newAlert.controls.name.valid || newAlert.controls.name.pristine">
          Name is required
        </small>

        <button md-raised-button color="warn" type="submit">Add Alert</button>

      </form>
    </md-tab>
  </md-tab-group>
</md-card>
