      <md-card class="box">
        <h2>
          {{this.fullName}}
          <a (click)="removeUser()" style="cursor: pointer">
            <i class="material-icons">delete</i>
          </a>
        </h2>

        <section >
          <md-tab-group>
            <md-tab label="User Info">

              <md-input-container>
                <input mdInput id="firstNameInput" name="name" value="{{this.firstName}}" type="text" placeholder="First Name" [(ngModel)]="firstNameInput" (blur)="onBlurMethod()">
              </md-input-container>
              <br>
              <md-input-container>
                <input mdInput id="lastNameInput" name="name" value="{{this.lastName}}" type="text" placeholder="Last Name" [(ngModel)]="lastNameInput" (blur)="onBlurMethod()">
              </md-input-container>
              <br>
              <md-input-container>
                <input mdInput id="usernameInput" name="usernameInput" value="{{this.username}}" type="email" placeholder="Username" [(ngModel)]="usernameInput" (blur)="onBlurMethod()">
              </md-input-container>
              <br>
              <md-input-container>
                <input mdInput id="emailInput" name="email" value="{{this.emailAddress}}" type="email" placeholder="Email" [(ngModel)]="emailInput" (blur)="onBlurMethod()">
              </md-input-container>
              <br>
              <md-checkbox [(ngModel)]="changePassword">Change Password</md-checkbox>

              <br>
              <br>
              <form *ngIf="changePassword" (submit)="savePassword()" novalidate>
                <md-input-container>
                  <input mdInput name="newPassword" type="password" placeholder="New Password"
                         [(ngModel)]="user.newPassword" #password="ngModel" required>
                </md-input-container>
                <small style="color: red" [hidden]="password.valid || (password.pristine)">
                  Password is required
                </small>

                <md-input-container>
                  <input mdInput name="confirmPassword" type="password" placeholder="Confirm Password"
                         [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" validateEqual="password" required>
                </md-input-container>
                <small style="color: red" [hidden]="confirmPassword.valid ||  (confirmPassword.pristine)">
                  Password mismatch
                </small>
                <br>

                <button md-input md-raised-button type="button" color="primary" (click)="savePassword()">Save Password</button>

              </form>
            </md-tab>
            <md-tab label="Manages">
            <system-query [lookupName]="lookupManages" [updateDocumentId]="updateDocumentId"></system-query>
            </md-tab>

            <md-tab label="Tenants">
              <system-query [lookupName]="lookupName" [updateDocumentId]="updateDocumentId"></system-query>
              <br>
              <button md-raised-button color="primary" (click)="addTenant()">Add Tenant</button>
            </md-tab>
          </md-tab-group>
        </section>
      </md-card>

