      <md-card>
        <!-- <section class="box" id="adminEachGroup" > -->
          <h1>{{this.name}}</h1>

          <md-tab-group>
            <md-tab label="Permissions">
              <md-card>
                  <system-query [lookupName]="'manageGroupPermissions'" (onReturn)="returnResult($event)" [updateDocumentId]="updateDocumentId"></system-query>
              </md-card>
            </md-tab>
            <md-tab label="Edit">
              <form (ngSubmit)="onSubmit()" #editGroupForm="ngForm">
                <md-input-container class="inputContainer">
                  <input mdInput id="nameInput" name="name" type="text" placeholder="Name" [(ngModel)]="nameInput"
                  required #spy #groupEdit="ngModel" (blur)="save()">
                </md-input-container>
                <div [hidden]="groupEdit.valid || groupEdit.pristine" [ngStyle]="{'color': 'red'}">
                  Name is required
                </div>
                <br>
                <!-- <button md-raised-button color="primary" type="submit">Save Changes</button> -->
              </form>
              <button md-raised-button color="warn" (click)="removeGroup()">Remove Group</button>

            </md-tab>
          </md-tab-group>
        <!-- </section> -->
      </md-card>
