      <md-card>
        <section class="box" id="adminUsers" >
          <h2>Users</h2>
          <md-tab-group>
            <md-tab label="Users">
              <md-select placeholder="Select Users" name="food" [(ngModel)]="selectedItem" (ngModelChange)="onChange($event)">
                <md-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </md-option>
              </md-select>
              <section id="customerQuoteForm" class="container">
                <system-query [lookupName]="'users'" (onSelected)="returnResult($event)" [(data)]="data"></system-query>
                </section>
            </md-tab>
            <md-tab label="Create User">
              <form (submit)="addUser()">
                <md-input-container>
                  <input mdInput id="firstNameInput" [(ngModel)]="firstNameInput" name="firstName" type="text" placeholder="First Name" required>
                </md-input-container>
                <br>
                <md-input-container>
                  <input mdInput id="lastNameInput" [(ngModel)]="lastNameInput" name="lastName" type="text" placeholder="Last Name" required>
                </md-input-container>
                <br>
                <md-input-container>
                  <input mdInput id="emailInput" [(ngModel)]="emailInput" name="email" type="text" placeholder="Email" required>
                </md-input-container>
                <br>
                <md-input-container>
                  <input mdInput id="passwordInput" [(ngModel)]="passwordInput" name="password" type="password" placeholder="Password">
                </md-input-container>

                <button md-raised-button color="warn" type="submit">Add User</button>

              </form>
            </md-tab>
          </md-tab-group>
        </section>
      </md-card>
