<md-card class="box" id="product">
  <h2>
    {{product.name}}
    <a (click)="removeProduct()" style="cursor: pointer">
      <i class="material-icons">delete</i>
    </a>
  </h2>

  <section >
    <md-tab-group>
      <md-tab label="Info">
        <br>
        <md-input-container>
          <input mdInput name="name" value="{{product.name}}" type="text" placeholder="Name" [(ngModel)]="product.name" (blur)="onBlurMethod($event.target)">
        </md-input-container>
        <md-input-container>
          <input mdInput name="price" value="{{product.price}}" type="number" placeholder="Price" [(ngModel)]="product.price" (blur)="onBlurMethod($event.target)">
        </md-input-container>
        <br>
        <md-input-container>
          <input mdInput name="description" value="{{product.description}}" type="text" placeholder="Description" [(ngModel)]="product.description" (blur)="onBlurMethod($event.target)">
        </md-input-container>
        <br>
        <md-input-container>
          <input mdInput name="cost" value="{{product.cost}}" type="number" placeholder="Cost" [(ngModel)]="product.cost" (blur)="onBlurMethod($event.target)">
        </md-input-container>

        <md-checkbox [(ngModel)]="product.allowCustomerContract" (click)="onBlurMethod({name: 'allowCustomerContract', value: !product.allowCustomerContract})">Allow Customer Contract</md-checkbox>
        <br>
        <md-checkbox [(ngModel)]="product.allowCustomerQuote" (click)="onBlurMethod({name: 'allowCustomerQuote', value: !product.allowCustomerQuote})">Allow Customer Quote</md-checkbox>
      </md-tab>
      <md-tab label="Warehouses">
        <system-query [lookupName]="'productsWarehouses'" [updateDocumentId]="updateDocumentId" (onSelected)="onSelect($event)" [(data)]="data"></system-query>
      </md-tab>
      <md-tab label="Manufacturing" *ngIf="hasManufacturing">
        <div *ngFor="let bom of product.boms">
          <md-card>
            <md-input-container>
              <input name="name" mdInput placeholder="Assembly Name" value="{{bom.name}}" (blur)="updateAssembly(bom._id, $event.target)">
            </md-input-container>
            <ngx-datatable
                class="material"

                [rows]="bom.products"
                [headerHeight]="'40'"
                [rowHeight]="auto"
                [footerHeight]="50"

                style="font-size: 16px;"
            >
              <ngx-datatable-column name="Name" prop="name">
                <template ngx-datatable-cell-template let-row="row" let-value="value" let-i="index">
                  <md-input-container class="inputContainer">
                    <input mdInput value="{{value}}" name="name" readonly>
                  </md-input-container>
                </template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Quantity" prop="quantity">
                <template ngx-datatable-cell-template let-row="row" let-value="value" let-i="index">
                  <md-input-container class="inputContainer">
                    <input mdInput value="{{value}}" name="quantity" type="number" (blur)="updateSubProducts(bom._id, row, $event.target)">
                  </md-input-container>
                </template>

              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" prop="actions">
                <template ngx-datatable-cell-template let-row="row" let-value="value" let-i="index">
                    <a (click)="removeSubProduct(row)" style="cursor: pointer">
                      <i class="material-icons">delete_forever</i>
                    </a>
                </template>
              </ngx-datatable-column>

            </ngx-datatable>
            <br>
            <a md-fab (click)="openProductsDialog(bom._id)"><i class="material-icons">add_circle</i></a>
            <button md-input md-raised-button (click)="removeAssembly(bom._id)" type="button" color="warn">Remove This Assembly</button>

          </md-card>

        </div>


        <md-checkbox [(ngModel)]="showAddAssembly">Add Assembly</md-checkbox>

        <br>
        <br>
        <form *ngIf="showAddAssembly" (submit)="addAssembly(assemblyName)" novalidate>
          <md-input-container>
            <input mdInput name="name" type="text" placeholder="Assembly Name"
                   [(ngModel)]="assemblyName" required>
          </md-input-container>
          <!--<small style="color: red" [hidden]="password.valid || (password.pristine)">-->
            <!--Password is required-->
          <!--</small>-->

          <!--<md-input-container>-->
            <!--<input mdInput name="confirmPassword" type="password" placeholder="Confirm Password"-->
                   <!--[(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" validateEqual="password" required>-->
          <!--</md-input-container>-->
          <!--<small style="color: red" [hidden]="confirmPassword.valid ||  (confirmPassword.pristine)">-->
            <!--Password mismatch-->
          <!--</small>-->
          <!--<br>-->

          <button md-input md-raised-button type="submit" color="primary">Confirm</button>

        </form>

      </md-tab>
    </md-tab-group>
  </section>
</md-card>


<template #actionsTmpl let-row="row" let-value="value" let-i="index">
  <a (click)="removeSubProduct(row)" style="cursor: pointer">
    <span>{{value}}</span>
    <i class="material-icons">delete_forever</i>
  </a>
</template>