<md-card class="box">
  <h2>
    {{product.name}}
    <a (click)="removeProduct()" style="cursor: pointer">
      <i class="material-icons">delete</i>
    </a>
  </h2>

  <section >
    <md-tab-group>
      <md-tab label="Product Info">

        <br>
        <md-input-container>
          <input mdInput name="name" value="{{product.name}}" type="text" placeholder="Name" [(ngModel)]="product.name" (blur)="onBlurMethod($event.target.name, $event.target.value)">
        </md-input-container>
        <md-input-container>
          <input mdInput name="price" value="{{product.price}}" type="number" placeholder="Price" [(ngModel)]="product.price" (blur)="onBlurMethod($event.target.name, $event.target.value)">
        </md-input-container>
        <br>
        <md-input-container>
          <input mdInput name="description" value="{{product.description}}" type="text" placeholder="Description" [(ngModel)]="product.description" (blur)="onBlurMethod('description', $event.target.value)">
        </md-input-container>
        <br>
        <md-input-container>
          <input mdInput name="cost" value="{{product.cost}}" type="number" placeholder="Cost" [(ngModel)]="product.cost" (blur)="onBlurMethod($event.target.name, $event.target.value)">
        </md-input-container>

        <md-checkbox [(ngModel)]="product.allowCustomerContract" (click)="onBlurMethod('allowCustomerContract', !product.allowCustomerContract)">Allow Customer Contract</md-checkbox>
        <br>
        <md-checkbox [(ngModel)]="product.allowCustomerQuote" (click)="onBlurMethod('allowCustomerQuote', !product.allowCustomerQuote)">Allow Customer Quote</md-checkbox>
      </md-tab>
      <md-tab label="Warehouses">
        Query
      </md-tab-group>
    </md-tab-group>
  </section>
</md-card>
