<md-card>
  <h2>Warehouse Bins <i class="material-icons" style="cursor:pointer;"(click)="openDialog()">list</i></h2>

  <md-tab-group>
    <md-tab label="Warehouse Bins">
      <md-select placeholder="Select Warehouse" [(ngModel)]="selectedWarehouse" name="module" (ngModelChange)="onChange($event)">
        <md-option *ngFor="let warehouse of warehouses" [value]="warehouse">
          {{ warehouse.name }}
        </md-option>
      </md-select>

      <system-query [lookupName]="'warehouseBins'" (onSelected)="onSelect($event)" [(data)]="data"></system-query>
    </md-tab>
    <!--<md-tab label="Create Product">-->
      <!--<form [formGroup]="newProduct" (submit)="addProduct(newProduct)">-->
        <!--<md-input-container>-->
          <!--<input mdInput formControlName="name" type="text" placeholder="Name" required>-->
        <!--</md-input-container>-->
        <!--<small style="color: red" [hidden]="newProduct.controls.name.valid || newProduct.controls.name.pristine">-->
          <!--Name is required-->
        <!--</small>-->
        <!--<button md-raised-button color="warn" type="submit">Add Product</button>-->
      <!--</form>-->
    <!--</md-tab>-->
  </md-tab-group>
</md-card>
