<md-sidenav-container class="main" layout="column">
  <md-sidenav #sidenav class="main-sidenav" mode="over">
    Jolly good!
  </md-sidenav>
  <div layout="column">
    <div layout="row" style=" box-shadow:0 0 10px #566b87">
      <div layout-padding style="cursor: pointer;color: white; width: 60px; background-color: #363f48;">
        <md-icon style="font-size: 60px; height: 60px; width: 60px;" (click)="sidenav.toggle()"> menu </md-icon>
      </div>
      <div flex>
        <md-toolbar layout-padding style="background-color: white;" class=".md-whiteframe-4dp">
          <div flex >
            <a ><img src="img/global_logo.png"></a>
          </div>
          <div>
            <a md-raised-button color="accent">
              Having Issues?
            </a>
          </div>
        </md-toolbar>
      </div>
    </div>

    <div layout-padding layout-margin>
      <md-card>
        <section class="box" id="customerQuote" >
          <h1 class="title pageTitle">CUSTOMER QUOTE</h1>
          <section id="customerQuoteForm" class="container">
            <div layout-gt-xs="row" flex layout-xs="column" >
              <fieldset flex-gt-xs flex-xs layout="column" layout-margin (click)="selectCustomer()">
                <label>CUSTOMER
                  <md-icon class="pull-right">search</md-icon>
                </label>
                <br>
                <md-input-container>
                  <input md-input placeholder="Select Customer" readonly>
                </md-input-container>
              </fieldset>
              <fieldset flex-gt-xs flex-xs layout="column" layout-margin (click)="selectProductLine()">
                <label class="label">PRODUCT LINE
                  <md-icon class="pull-right">search</md-icon>
                </label>
                <br>
                <md-input-container>
                  <input md-input placeholder="Select Product Line" readonly>
                </md-input-container>

                <!--<input class="input" type="text" id="productLookup" data-tabulartable="Categories" data-tabulardata="category" data-tabulardataextra="description" placeholder="Select Product Line" readonly>-->
              </fieldset>
            </div>
            <br>
            <div>
              <fieldset layout="column" layout-margin>
                <md-input-container>
                  <textarea md-input placeholder="NOTES" style="min-height: 150px; line-height: 32px; overflow: auto"></textarea>
                </md-input-container>
              </fieldset>
            </div>

            <div style="direction: rtl">
              <a md-raised-button color="warn">Cancel</a>
              <a md-raised-button color="primary" id="resetFormCancelButton">Submit Quote</a>
            </div>
          </section>
          <br>
          <section class="pull-right">
          </section>
        </section>
      </md-card>
      <br>
      <md-card>

      </md-card>
    </div>
  </div>
</md-sidenav-container>
