<div>
  <div layout="column">
    <div layout-padding layout-margin>
      <md-card>
        <section class="box" id="adminUsers" >
          <h1>System Lookups</h1>
          <section id="customerQuoteForm" class="container">
            <div layout-gt-xs="row" flex layout-xs="column" >
              <system-lookup [Collections]="userCollections" [lookupName]="userLookupName"></system-lookup>
            </div>
          </section>
        </section>
      </md-card>
    </div>
  </div>
</div>
