<div>
  <div layout="column">
    <div layout-padding layout-margin>
      <md-card>
        <section class="box" id="adminUsers" >
          <h1>System Lookups</h1>
          <section id="customerQuoteForm" class="container">

            <md-tab-group>
  <md-tab label="Tab 1">Content 1</md-tab>
  <md-tab label="Tab 2">Content 2</md-tab>
</md-tab-group>

            <div layout-gt-xs="row" flex layout-xs="column" >
              <multi-system-lookup [Collections]="systemLookupCollections" [lookupName]="systemLookupLookupName"></system-lookup>
            </div>
          </section>
        </section>
      </md-card>
    </div>
  </div>
</div>
