<md-card class="box">
  <h2>
    {{warehouseBin.name}}
    <a (click)="removeDoc()" style="cursor: pointer">
      <i class="material-icons">delete</i>
    </a>
  </h2>

  <section >
    <md-tab-group>
      <md-tab label="Info">

        <br>
        <md-input-container>
          <input mdInput name="name" value="{{warehouseBin.name}}" type="text" placeholder="Name" [(ngModel)]="warehouseBin.name" (blur)="onBlurMethod($event.target)">
        </md-input-container>
        <br>
        <md-input-container>
          <input mdInput readonly name="name" (click)="openDialog()" name="name" value="{{warehouse.name}}" type="text" placeholder="Name" [(ngModel)]="warehouse.name">
        </md-input-container>

      </md-tab>
    </md-tab-group>
  </section>
</md-card>

