<form (submit)="search(keywords)">
  <md-input-container>
    <input mdInput placeholder="Type to Search" name="searchBox" [(ngModel)]="keywords" value="contractor">
  </md-input-container>
  <button md-raised-button type="submit">Search</button>
</form>

<ngx-datatable
    class="material"

    [rows]="rows"
    [columns]="columns"
    [headerHeight]="'40'"
    [rowHeight]="auto"
    [footerHeight]="50"
    [columnMode]="dataTable.columnMode"
    [messages]="messages"

    [externalPaging]="true"
    [externalSorting]="true"
    [count]="count"
    [offset]="offset"
    [limit]="limit"
    [selected]="selected"

    [selectionType]="dataTable.selectionType"
    (select)="onSelect($event)"
    (sort)="onSort($event)"
    (page)="onPage($event)"


    style="font-size: 16px;"
>



</ngx-datatable>



<template #statusDropboxTmpl let-row="row" let-value="value" let-i="index">
  <br>

  <!--<md-select placeholder="Pick" [ngModel]="someVal.cao" >-->
    <!--<md-option value="1">One</md-option>-->
    <!--<md-option value="2">Two</md-option>-->
  <!--</md-select>-->

  <md-select style="width: 150px" (change)="onChange($event, row)" [ngModel]="updateField[row.name]" >
    <md-option *ngFor="let status of permissionStatus" [value]="status.value">
      {{status.label}}
    </md-option>
  </md-select>

</template>
<template #elseBlock>Falsy condition</template>

</ngx-datatable>

